:root{--cor-bloco: #ffffff;
  --texto-principal: #222;
  --texto-secundario: #666;
  --fundo-app: #f5f5f5;
  --cor-bloco: #1f1f1f;
    --texto-principal: #f0f0f0;
    --texto-secundario: #aaa;
    --fundo-app: #121212;
     --destaque: #f54747;             
  --destaque-secundario: #f7832c;
    --fundo-item: rgba(78, 78, 78, 0.08);
    --borda:  1px solid black;
}