.detalhes-climaticos {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor-bloco);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.detalhe {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.detalhe span:first-child {
  font-size: 0.9rem;
  color: var(--texto-secundario);
  margin-bottom: 0.3rem;
}

.detalhe span:last-child {
  font-size: 1.2rem;
  font-weight: bold;
}